<%= content_for(:title, "Product") %>

<div class="product-page container">

  <h1><%= @product.name %></h1>

  <p><%= @product.description %></p>

  <p>$ <%= @product.price %></p>


  <p><%= link_to "Edit Product", edit_product_path(@product) %></p>
  <p><%= link_to "Homepage", products_path %></p>
  <p><%= link_to "Delete Product", product_path(@product),
                            :data => {:confirm => "You sure?",
                                      :method => "delete"} %></p>

</div>
