<%= content_for(:title, "Product") %>

<div class="product-page container">

  <h1><%= @product.name %></h1>

  <h3><%= @product.description %></h3>

  <p><strong>$ <%= @product.price %></strong></p>

  <br />

  <p><%= link_to "Edit Product", edit_product_path(@product) %></p>
  <p><%= link_to "Delete Product", product_path(@product),
                            :data => {:confirm => "You sure?",
                                      :method => "delete"} %></p>
  <br />
  <p><%= link_to "Show all products", products_path %></p>
  <p><%= link_to "Homepage", root_path %></p>

</div>
